/*
Common
*/
body {
    background-color: aliceblue;
}
p {
    font-size: 2.3vw;
}

html, body {
    height: 104%;
}

.content {
    max-width: 40rem;
    height: 100%;
    margin: 0 auto;
    border-left: 1px solid black;
    border-right: 1px solid black;

}
/*
Post
*/

.post_form {
    padding: 20px 16px 25px 45px;
    border-bottom: 1px solid #ccc;
}

.post_form input {
    width: 70%;
    margin-bottom: 10px;
    padding: 10px;
    /* border: 1px solid #ccc; */
    border: none;
}

.post_form textarea {
    width: 70%;
    padding: 10px;
    /* border: 1px solid #ccc; */
    border: none;
}

.posts ul {
    padding: 0;
}

.posts li {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 17px;
}

.posts li .logo {
    flex-basis: 15%;
}

.posts li .logo img {
    width: 60%;
}

.posts li .name_body {
    flex-basis: 80%;
}

.posts li .name_body .name {
    font-weight: bold;
    font-size: 2.3vw;
}

.posts li .name_body .datetime {
    color:blue;
}
img.post-image {
    border-radius: 4%;
}

@media screen  and (max-width: 500px) {
    .posts li .name_body .name {
          font-size: 20px;
    }
}
img.twitter_image {
    width: 10%;
}
.posts li{
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 2px 40px;
    list-style: none;
    position: relative;
}

.posts li .menu_icon {
    width: 20px;
    position: absolute;
    top: 20px;
    right: 37px;
}

.posts li .menu{
    display: none;
    position: absolute;
    top: 40px;
    right: 15px;
    border: 1px solid #ccc;
    background-color: white;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 3px;
}
.posts li .menu a{
    text-decoration: none;
}
.posts li .logo{
    flex-basis: 15%;
}
.posts li .logo img{
    width: 65%;
}
.first-post {
    display: flex;
    gap: 1rem;
}

#tweet{
    background-color: black;
    color: white;
}

#tweet:hover{
    background-color: white;
    color:black;
}

.like_count {
    padding: 5% 0% 0% 0%;
}


input[type="submit"] {
    
    width: 20%;
    border-radius: 4px;
}
button {
    padding: 2%;
    width: 16%;
    border: none;
    border-radius: 6px;
}
.first-post img{
    width: 4vw;
    border-radius: 50%;
   
}